*
{
	padding: 0px;
	margin: 0px;
}

body
{
	display: grid;
	grid-template-rows: 80px 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "a a a"
						 "b c d" 
						 ". e .";
	background-image: radial-gradient(circle,rgb(255,255,255),rgb(19,122,157));
	background-repeat: no-repeat;
	background-size: 100% 500%;
	text-align: center;
}

header
{
	grid-area: a;
	background-color: rgb(75,86,92);
	height: 30px;
	color: white;
	font-size: 20px;
	display: grid;
	grid-template-columns: 150px 1fr 150px;
	box-shadow: 2px 2px 15px black;
}

header p
{
	grid-column: 2/3;
}

#botonRegresar
{
	grid-column: 1/2;
	background-color: rgb(31,56,237);
	color: white;
	text-align: center;
	width: 150px;
	text-decoration: none;
	border-radius: 8px;
}
#botonRegresar:hover
{
	background-color: rgb(14,33,169);
}

#botonManejo
{
	grid-column: 1/2;
	background-color: rgb(31,56,237);
	color: white;
	text-align: center;
	width: 150px;
	text-decoration: none;
	border-radius: 8px;
}
#botonManejo: hover
{
	background-color: rgb(14,33,169);
}

#botonSalir
{
	grid-column: 3/4;
	background-color: rgb(236,34,39);
	color: white;
	text-align: center;
	width: 150px;
	text-decoration: none;
	border-radius: 8px;
}

#botonSalir:hover
{
	background-color: rgb(168,15,19);
}

#calendario
{
	grid-area: c;
	background-color: white;
	width: 400px;
	height: 250px;
	box-shadow: 3px 3px 10px;
}

#cabecera
{
	background-color: rgb(75,86,92);
	color: white;
	height: 20%;
	width: 100%;
	padding-top: 10px;
	font-size: 22px;
}

#observaciones
{
	grid-area: b;
	background-color: white;
	width: 300px;
	height: 450px;
	box-shadow: 3px 3px 10px;
}

#datos
{
	grid-area: d;
	background-color: white;
	width: 300px;
	height: 450px;
	box-shadow: 3px 3px 10px;
}

#cabecera2
{
	background-color: rgb(75,86,92);
	color: white;
	height: 10%;
	width: 100%;
	padding-top: 10px;
	font-size: 22px;
}

#cuerpo
{
	color: black;
	padding-top: 10px;
	font-size: 14px;
}

#boton
{
	grid-area: e;
	background-color: black;
	color: white;
	height: 30px;
	width: 200px;
	text-align: center;
	text-decoration: none;
	border-radius: 8px;
}

#botonMenu
{
	position: relative;
	/*grid-area: e;*/
	font-size: 25px;
	background-color: black;
	color: white;
	width: 250px;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
    padding: 0;
    display: block;
    vertical-align: middle;
    border-radius: 8px;
}

#botonMenu:hover
{
	background-color: rgb(89, 89, 89);
}

#btnUser
{
	position: relative;
	/*grid-area: e;*/
	font-size: 25px;
	background-color: black;
	color: white;
	width: 250px;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
    padding: 0;
    display: block;
    vertical-align: middle;
    border-radius: 8px;
}

#btnUser:hover
{
	background-color: rgb(89, 89, 89);
}

#inicioSesion
{
	margin: auto;
	grid-area: b;
	background-color: white;
	width: 100%;
	height: 100%;
	box-shadow: 3px 3px 10px;
}