*
{
	padding: 0px;
	margin: 0px;
	font-family: Verdana;
}
body
{
	display: grid;
	grid-template-rows: 80px 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "a a a"
						 ". b ." ;
	flex-direction: column;
	background-image: url('../img/prism.png');
	background-repeat: repeat;
	text-align: center;
}

header
{
	
	grid-area: a;
	background-color:rgba(31, 31, 31, 0.7);
	border-style: solid;
	border-width:thin;
	border-color:#444; 
	height: 50px;
	color: white;
	font-size: 20px;
	display: grid;
	grid-template-columns: 150px 1fr 150px;
	box-shadow: 2px 2px 15px black;
}

header p
{
	grid-column: 2/3;
}

#botonRegresar
{
	grid-column: 1/2;
	background-color: rgb(31,56,237);
	color: white;
	text-align: center;
	width: 150px;
	text-decoration: none;
	border-radius: 8px;
}
#botonRegresar:hover
{
	background-color: rgb(14,33,169);
}

#botonManejo
{
	grid-column: 1/2;
	background-color: rgb(31,56,237);
	color: white;
	text-align: center;
	width: 150px;
	text-decoration: none;
	border-radius: 8px;
}
#botonManejo:hover
{
	background-color: rgb(14,33,169);
}

#botonSalir
{
	grid-column: 3/4;
	background-color: rgb(236,34,39);
	color: white;
	text-align: center;
	width: 150px;
	text-decoration: none;
	border-radius: 8px;
}

#botonSalir:hover
{
	background-color: rgb(168,15,19);
}

#calendario
{
	background-color: white;
	width: 400px;
	height: 250px;
	box-shadow: 3px 3px 10px;
}

#cabecera
{
	background-image: url(../img/black_paper.png);
	opacity:0.85;
	border-style:dashed;
	border-width: thin;
	border-radius: 8px 8px 0px 0px;
	border-color: rgba(154, 9, 0, .6);
	height: 20%;
	width: 100%;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}


#cabecera2
{
	background-image: url(../img/black_paper.png);
	opacity:0.85;
	border-style:dashed;
	border-width: thin;
	border-color: rgba(154, 9, 0, .6);
	height: 20%;
	width: 100%;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

#cuerpo
{
	color: black;
	padding-top: 10px;
	font-size: 14px;
}

#boton
{
	grid-area: e;
	background-color: black;
	color: white;
	height: 30px;
	width: 200px;
	text-align: center;
	text-decoration: none;
	border-radius: 8px;
}

#botonMenu
{
	position: relative;
	/*grid-area: e;*/
	font-size: 25px;
	background-color: black;
	color: white;
	width: 250px;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
    padding: 0;
    display: block;
    vertical-align: middle;
    border-radius: 8px;
}

#botonMenu:hover
{
	background-color: rgb(89, 89, 89);
}

#btnUser
{
	position: relative;
	/*grid-area: e;*/
	font-size: 25px;
	background-color: black;
	color: white;
	width: 250px;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
    padding: 0;
    display: block;
    vertical-align: middle;
    border-radius: 8px;
}

#btnUser:hover
{
	background-color: rgb(89, 89, 89);
}

#inicioSesion
{
	grid-area: b;
	border-radius:9px;
	background-image: url(../img/paper.png);
	width: 700px;
	height: fit-content;
	box-shadow: 1px 3px 10px;
	position: absolute;
	left: 23%;
}