body
{
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	background-image: radial-gradient(circle,rgb(255,255,255),rgb(19,122,157));
	background-repeat: no-repeat;
	background-size: 100% 400%;
	margin: 0px;
}

header
{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(75,86,92);
	height: 20%;
	width: 100%;
	color: white;
}

#boton
{
	display: block;
	text-decoration: none;
	background-color: red;
	color: white;
}

#botonRegresar
{
	display: block;
	text-decoration: none;
	background-color: blue;
	color: white;
}