*
{
	padding: 0px;
	margin: 0px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 13px;
}
body
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: auto;
	text-align: center;
	align-items: center;
	background-image: radial-gradient(circle,rgb(255,255,255),rgb(19,122,157));
	background-repeat: no-repeat;
	background-size: 100% 300%;
}
#arriba
{
	height: 100px;
}
#abajo
{
	height: 100px;
}
#inicioSesion
{
	background-color: white;
	width: 50%;
	height: 90%;
	box-shadow: 3px 3px 10px;
}
#ingnum
{
	width: 50px;

}
#cabecera
{
	background-color: rgb(75,86,92);
	height: 20%;
	width: 100%;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px black solid;
}


#cabecera h1
{
	display: inline;
}

p
{
	display: inline;
}

input
{
	margin-top: 20px;
}

#boton
{
	background-color: rgb(227,221,197);
	margin-bottom: 20px;
}

#boton:hover
{
	background-color: rgb(227,200,156);
}
