body
{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 250px 250px 250px;
	grid-template-areas: "ar" "en" "ab";
	justify-content: center;
	align-content: center;
	text-align: center;
	background-image: radial-gradient(circle,rgb(255,255,255),rgb(19,122,157));
	background-repeat: no-repeat;
	background-size: 100% 300%;
}

#inicioSesion
{
	grid-area: "en";
	background-color: white;
	width: 300px;
	height: 200px;
	box-shadow: 3px 3px 10px;
}
#arriba
{
	grid-area: "ar";
}
#abajo
{
	grid-area: "ab";
}
#cabecera
{
	background-color: rgb(75,86,92);
	height: 20%;
	width: 100%;
	color: white;
	padding-top: 10px;
}

#cabecera h1
{
	display: inline;
}

p
{
	display: inline;
}

input
{
	margin-top: 25px;
}

#boton
{
	background-color: rgb(227,221,197);
}

#boton:hover
{
	background-color: rgb(227,200,156);
}
